@font-face {
  font-family: "Lato";
  src: url("../../fonts/LatoRegular/LatoRegular.eot");
  src: url("../../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/LatoRegular/LatoRegular.woff") format("woff"),
  url("../../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("../../fonts/LatoBold/LatoBold.eot");
  src: url("../../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/LatoBold/LatoBold.woff") format("woff"),
  url("../../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoLight";
  src: url("../../fonts/LatoLight/LatoLight.eot");
  src: url("../../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/LatoLight/LatoLight.woff") format("woff"),
  url("../../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*
@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
  url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/LatoLight/LatoLight.woff") format("woff"),
  url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
  url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
  url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}*/

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html{
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body{
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio, canvas, progress, video{
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]){
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden], template{
    display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a{
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active, a:hover{
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title]{
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b, strong{
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn{
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1{
    font-size: 2em;
    margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark{
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small{
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub, sup{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup{
    top: -.5em;
}

sub{
    bottom: -.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img{
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root){
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure{
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr{
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre{
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code, kbd, pre, samp{
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button, input, optgroup, select, textarea{
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button{
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button, select{
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button, html input[type='button'], /* 1 */
input[type='reset'], input[type='submit']{
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled]{
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner, input::-moz-focus-inner{
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input{
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type='checkbox'], input[type='radio']{
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button{
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type='search']{
    -webkit-appearance: textfield; /* 1 */ /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration{
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset{
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend{
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea{
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup{
    font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table{
    border-collapse: collapse;
    border-spacing: 0;
}

td, th{
    padding: 0;
}



/* main */
*, *::before, *::after {
    box-sizing: border-box;
}

html {

}

html, body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 14px;
    min-width: 320px;
    height: 100%;
}
a{
    color: white;
    text-decoration: none;
    user-select: none;

  img{
      border: none;
  }
}
button{
    user-select: none;
}
.clear{
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.main{
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.wrapp{
    min-height: 100%;
    padding-top: 1px;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
    position: relative;
}
/* header */
.header{
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 0;
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 60px;
    z-index: 10;

    &__logo-box{
        display: inline-block;
        vertical-align: top;
        width: 271px;

    }
    &__main-nav-box{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 271px);
        text-align : right;
        height: 75px;
    }

}

.burger{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    display: none;
    z-index: 11;

    &_active .burger__line{
        background: rgba(0,0,0,0);
        /*transition: 0s ease 0.3s;*/

        &::before, &::after{
            top: 0;
            transition: top 0.2s ease 0s, transform 0.3s ease 0.2s;
        }
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }

    &__line{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        background: white;
        transition: 0s ease 0.25s;

        &::before, &::after{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: white;

            transition: transform 0.3s ease 0s, top 0.2s ease 0.3s;
        }
        &::before{
            top: -10px;
        }
        &::after{
            top: 10px;
        }
    }
}

.main-nav{
    font-size: 0;
    position: relative;

    &__item{
        display: inline-block;
        vertical-align: top;
        margin: 0 12px;
    }
    &__link{
        display: inline-block;
        vertical-align: top;
        height: 75px;
        font: 400 15px/75px Lato, "sans-serif";
        color: white;
        padding: 0 20px;
        border-bottom: 5px solid rgba(0,0,0,0);
        transition: 0.25s ease;

        &:hover, &_active{
            border-color: #e9696a;
        }
    }

}
/* logo */
.logo{
    display: inline-block;
    vertical-align: top;
    
    &__img{
        display: inline-block;
        vertical-align: middle;
    }
}

/* sections */
.section{

    &_main{
        text-align: center;
        min-height: 695px;
        background: #f6eee9 url(../../img/main/banner.jpg) no-repeat bottom center;
        background-size: contain;
        padding-top: 250px;
    }
    &_features{
        background: #e66768;
        overflow: hidden;
    }
    &_works{
        background: #f6f1ed;
        padding-bottom: 80px;
    }
    &_blog{
        padding-bottom: 80px;
    }
    &_map{
        min-height: 700px;
    }
    &_contacts{
        position: relative;
    }

    &__img{
        width: 100%;
    }
}
/* about box */
.about{
    text-align: left;
    max-width: 500px;

    &__title{
        font: 32px/39px LatoLight, 'sans-serif';
        margin: 0;

        &-select{
            color: #f06d6e;
            font-family: LatoBold, 'sans-serif';
        }
    }
    &__descript{
        font: 14px/28px Lato, 'sans-serif';
        color: #3d3d39;
        margin-top: 33px;
        max-width: 355px;
    }
}

/* button */
.button{
    display: inline-block;
    vertical-align: top;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fac81b;
    border-left: 4px solid #fac81b;
    font-size: 14px;
    text-align: center;
    color: #3d3d39;
    padding: 0 30px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 48px;
        background: #fac81b;
        transition: 0.3s ease-in-out;
        z-index: 0;
    }

    &:hover::before{
        width: 100%;
    }

    &__txt{
        position: relative;
    }

    &_main{
        margin-top: 40px;
    }
    &_features{
        margin-top: 30px;
        color: white;
        height: 40px;
        line-height: 40px;
        padding: 0 39px;

        &::before{
            height: 38px;
        }
    }
}
/* title */
.title{
    margin: 0;
    padding-top: 75px;
    text-align: center;
    font: 400 35px/39px LatoBold, "sans-serif";
    color: #ecba0b;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 85px;
        height: 6px;
        background: #ecba0b;
    }

    &__light{
        font-family: Lato;
    }
}

/* fuatures */
.features{
    font-size: 0;
    margin: 70px -20px 0;
    padding-bottom: 40px;

    &__item{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 0 20px;
        text-align: center;
        padding-bottom: 40px;


        &:hover{
            .features__img{
                fill: #fac81b;
                transform: scale(1.3);
            }
            .features__title{
                color: #fac81b;
            }
            .features__cover{
                border-color: #fac81b;

            }
        }
    }

    &__cover{
        width: 166px;
        height: 166px;
        background-color: #dd5e5f;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        border: 2px solid rgba(0,0,0,0);
        transition: 0.25s ease;
    }
    &__img{
        fill: white;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        transition: 0.25s ease;
    }
    &__title{
        font: 22px/37px Lato, 'sans-serif';
        height: 37px;
        color: white;
        transition: 0.25s ease;
    }
    &__descript{
        font: 14px/25px Lato, 'sans-serif';
        color: white;
        height: 75px;
        overflow: hidden;
    }
}

/* Latest Works */
.works{
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 80px auto 0;

    &__item{
        width: 25%;
        max-height: 250px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: top;

        &:hover .works__over{
            transform: translate(0,0);
        }
    }
    &__img{
        max-width: 100%;
    }

    &__over{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 40px;
        background: rgba(230, 103, 104, 0.7);
        transform: translate(0, 200%);
        transition: 0.5s ease-in-out;

        &-content{
            margin-top: 40px;
        }
    }
    &__title{
        font: 400 22px/25px Lato, 'sans-serif';
        color: white;
        margin: 0;
    }
    &__descript{
        font: 14px/ 25px Lato, 'sans-serif';
        color: white;
        margin-top: 5px;
    }
}

.more-info{
    /*position: absolute;
    bottom: 50px;*/
    margin-top: 8%;

    &__link{
        display: inline-block;
        vertical-align: top;
        width: 33px;
        height: 30px;
        border: 1px solid #fac81b;
        position: relative;
        transition: 0.25s ease;

        &_zoom{

        }
        &_share{
            margin-left: 15px;
        }

        svg{
            fill: #fac81b;
            display: inline-block;
            vertical-align: top;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 13px;
            height: 13px;
            margin: auto;
            transition: 0.25s ease;
        }

        &:hover{
            background: #fac81b;

            svg{
                fill:rgba(230, 103, 104, 1);
            }
        }
    }

}

.svg-icons-sprite{
    display: none;
}

/* Blog posts */
.posts{
    display: flex;
    margin-top: 80px;
    font-size: 0;


    &__item{
        width: 33.33%;
        padding: 0 10px;
        display: inline-block;
        vertical-align: top;

        &:hover{
            .posts__descript{
                color: #e66768;
            }
            .posts__person{
                border-color: #e66768;
            }
        }
    }
    &__cover{
        max-height: 212px;
    }
    &__img{
        max-width: 100%;
    }
    &__content{
        text-align: center;
        margin-top: -41px;
    }
    &__person{
        &-wrapp{
            display: inline-block;
            vertical-align: top;
            width: 84px;
            height: 84px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }

        border-radius: 50%;
        border: 2px solid rgba(0,0,0,0);
        width: 82px;
        height: 82px;
        transition: 0.3s ease;

    }
    &__date{
        color: #e66768;
        font-size: 14px;
        display: block;
        margin-top: 25px;
    }
    &__descript{
        font-size: 22px;
        line-height: 25px;
        color: #646464;
        margin: 10px auto;
        padding: 0 20px;
        transition: 0.3s ease;
    }
}
/*contacts*/
.contacts{
    max-width: 560px;
    width: 560px; /* for ie */
    padding: 0 50px 23px;
    background: #e9696a;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &__content{
        margin-top: 25px;
    }

    &__txt{
        color: white;
        line-height: 30px;
        font-size: 13px;
        text-align: center;

        &_big{
            font-size: 17px;
        }
    }
    &__link{
        border-bottom: 1px solid rgba(0,0,0,0);
        transition: 0.25s ease;

        &:hover{
            border-bottom: 1px solid white;
        }
    }
}

.contact-form{
    margin-top: 20px;

    &__row{
        margin-top: 20px;
        font-size: 0;
        text-align: center;

        &_button{
            margin-top: 35px;
        }
    }
    &__col{
        display: inline-block;
        vertical-align: top;
        width: 50%;

        &:nth-child(1){
            padding-right: 8px;
        }
        &:nth-child(2){
            padding-left: 8px;
        }
    }
    &__area{
        display: inline-block;
        vertical-align: top;
        border: 1px solid rgba(255,255,255,0.6);
        background: none;
        color: white;
        padding: 0 20px;
        width: 100%;
        height: 45px;
        line-height: 45px;
        text-align: left;
        font-size: 13px;

        &::-webkit-input-placeholder {color: white;}
        &::-moz-placeholder          {color: white;}
        &:-moz-placeholder           {color: white;}
        &:-ms-input-placeholder      {color: white;}

        &:focus{
            outline: 1px solid white;
        }

        &_textarea{
            height: 125px;
        }
    }

    &__submit{
        border: none;
        width: 68px;
        height: 38px;
        background: url(../../img/icons/submit.png) no-repeat center;
        transition: 0.25s ease;

        &:hover{
            opacity: 0.8;
        }
    }
}

/* footer */
.footer{
    background: #3d3d3d;

    &-nav{
        padding: 0;
        font-size: 0;
        list-style: none;
        margin: 0 auto;
        text-align: center;

        &__item{
            display: inline-block;
            vertical-align: top;
        }
        &__link{
            display: inline-block;
            vertical-align: top;
            color: #b1b1b1;
            height: 50px;
            line-height: 50px;
            font-size: 13px;
            padding: 0 20px;
            transition: 0.25s ease;

            &:hover{
                color: white;
            }
        }

        &-box{
            border-bottom: 1px solid rgba(201,201,201, 0.2);
        }

    }

    &__copyright{
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #919191;
        font-size: 13px;
    }
}


/*========== Media ==========*/
@media screen and (max-width: 1400px){
    .header{
        top: 0;
    }

    .section{
        &_main{
            min-height: 525px;
            padding-top: 140px;
        }
    }
}

@media screen and (max-width: 1200px){
    .container{
        max-width: 1100px;
    }

    .works{
        &__item{
            width: 50%;
        }
    }
}

@media screen and (max-width: 1023px){
    .container{
        max-width: 768px;

        &_blog{
            max-width: 100%;
        }
    }
    .section{
        &_main{
            background: #f6eee9 url(../../img/main/banner_min.jpg) no-repeat right bottom;
        }
    }
    .header{
        position: fixed;
        top: 0;
    }

    .main-nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: black;
        padding-left: 10px;
        margin-top: 75px;
        padding-top: 10px;
        transition: 0.4s ease;
        transform: translate(100%, 0);
        z-index: 10;

        &_active{
            transform: translate(0, 0);
        }

        &__item{
            display: block;
            text-align: left;
            height: 50px;
            line-height: 50px;
        }
        &__link{
            width: 100%;
            max-width: 300px;
            height: 50px;
            line-height: 50px;
            border-width: 2px;
            padding: 0;
        }
    }

    .features{
        &__item{
            width: 50%;
            margin-bottom: 40px;
        }
    }

    .button{
        &_features{
            margin-top: 15px;
        }
    }
    .burger{
        display: block;
    }

}

@media screen and (max-width: 767px){

    .container{
        max-width: 500px;
    }
    .section{
        &_main{
            background: #f6eee9;
        }
    }
    /*.more-info{
        bottom: 30px;
    }*/
    .about{
        margin: 0 auto;
        text-align: center;
        
        &__descript{
            margin: 33px auto 0;
        }
    }

    .features{
        &__item{
            width: 100%;
        }
        &__descript{
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
        }

    }
    .works{
        &__over{
            padding-bottom: 60px;
        }
    }
    .posts{
        flex-wrap: wrap;
        
        &__item{
            width: 100%;
            margin-top: 60px;

            &:nth-child(1){
                margin-top: 0;
            }
        }
        &__cover{
            text-align: center;
        }

    }
}


@media screen and (max-width: 600px){
    .section{
        &_map{
            min-height: 300px;
        }
    }
    .container{
        &_contacts{
            width: 100%;
            max-width: inherit;
            padding: 0;
        }
    }
    .about{
        &__title{
            font-size: 27px;
            line-height: 33px;
        }
    }
    .header{
        &__logo-box{
            width: auto;
        }
    }
    .works{
        &__item{
            width: 100%;
        }
    }
    .logo{
        max-width: 170px;

        &__img{
            width: 100%;
        }
    }

    .contacts{
        position: static;
        width: 100%;
        max-width: inherit;
    }

    .footer-nav-box{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .section{
        &_main{
            min-height: 500px;
            padding-top: 120px;
        }
    }

    .contacts{
        padding: 0 50px 50px;
    }

    .contact-form{
        &__col{
            width: 100%;

            &, &:nth-child(n){
                padding: 0;
            }
            &:nth-child(2){
                margin-top: 20px;
            }
        }
    }
}




.plugin{
    background: red;
}
@media screen and (max-width: 1200px){


}

@media screen and (max-width: 970px){


}

@media screen and (max-width: 750px){



}

@media screen and (max-width: 480px){


}