
/* main */
*, *::before, *::after {
    box-sizing: border-box;
}

html {

}

html, body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 14px;
    min-width: 320px;
    height: 100%;
}
a{
    color: white;
    text-decoration: none;
    user-select: none;

  img{
      border: none;
  }
}
button{
    user-select: none;
}
.clear{
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.body_hidden{
  overflow: hidden;
}
.main{
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.wrapp{
    min-height: 100%;
    padding-top: 1px;
    overflow: hidden;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
    position: relative;
}
/* header */
.header{
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 0;
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 60px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.7s ease 0.3s;
    transform: translate3d(0, 0, 10px);
    //transform: translateZ(1px);

    &.inFocus{
        opacity: 1;
    }
    &_fixed{
      top: 0;
      position: fixed;
    }

    &__logo-box{
        display: inline-block;
        vertical-align: top;
        width: 271px;

    }
    &__main-nav-box{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 271px);
        text-align : right;
        height: 75px;
    }

}

.burger{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    display: none;
    z-index: 11;

    &_active .burger__line{
        background: rgba(0,0,0,0);
        /*transition: 0s ease 0.3s;*/

        &::before, &::after{
            top: 0;
            transition: top 0.2s ease 0s, transform 0.3s ease 0.2s;
        }
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }

    &__line{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        background: white;
        transition: 0s ease 0.25s;

        &::before, &::after{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: white;

            transition: transform 0.3s ease 0s, top 0.2s ease 0.3s;
        }
        &::before{
            top: -10px;
        }
        &::after{
            top: 10px;
        }
    }
}

.main-nav{
    font-size: 0;
    position: relative;

    &__item{
        display: inline-block;
        vertical-align: top;
        margin: 0 12px;
    }
    &__link{
        display: inline-block;
        vertical-align: top;
        height: 75px;
        font: 400 15px/75px Lato, "sans-serif";
        color: white;
        padding: 0 20px;
        border-bottom: 5px solid rgba(0,0,0,0);
        transition: 0.25s ease;

        &_active{
            border-color: #e9696a;
        }
        &:hover{
          color: #e9696a;
        }
    }

}
/* logo */
.logo{
    display: inline-block;
    vertical-align: top;
    
    &__img{
        display: inline-block;
        vertical-align: middle;
    }
}

/* sections */
.section{

    &_main{
        text-align: center;
        min-height: 695px;
        background: #f6eee9 url(../../img/main/banner.jpg) no-repeat bottom center;
        background-size: contain;
        padding-top: 250px;

        .about__title, .about__descript, .button{
            opacity: 0;
            animation-duration: 1s;
            animation-delay: 0.8s;
            animation-fill-mode: both;
            transition: 0.8s ease 1s;
        }

        &.inFocus{
            .about__title{
                animation-name: bounceInLeft;
                animation-duration: 0.6s;
                opacity: 1;
            }
            .about__descript{
                animation-name: bounceIn;
                animation-duration: 0.8s;
                opacity: 1;
            }
            .button{
                animation-name: fadeIn;
                opacity: 1;
            }
        }
    }
    &_features{
        background: #e66768;
        overflow: hidden;

        &.inFocus{
            .features__item{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    &_works{
        background: #f6f1ed;
        padding-bottom: 80px;
    }
    &_blog{
        padding-bottom: 80px;
    }
    &_map{
        min-height: 700px;
    }
    &_contacts{
        position: relative;
    }

    &__img{
        width: 100%;
    }
}
/* about box */
.about{
    text-align: left;
    max-width: 500px;

    &__title{
        font: 32px/39px LatoLight, 'sans-serif';
        margin: 0;

        &-select{
            color: #f06d6e;
            font-family: LatoBold, 'sans-serif';
        }
    }
    &__descript{
        font: 14px/28px Lato, 'sans-serif';
        color: #3d3d39;
        margin-top: 33px;
        max-width: 355px;
    }
}

/* button */
.button{
    display: inline-block;
    vertical-align: top;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fac81b;
    border-left: 4px solid #fac81b;
    font-size: 14px;
    text-align: center;
    color: #3d3d39;
    padding: 0 30px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 48px;
        background: #fac81b;
        transition: 0.3s ease-in-out;
        z-index: 0;
    }

    &:hover::before{
        width: 100%;
    }

    &__txt{
        position: relative;
    }

    &_main{
        margin-top: 40px;
    }
    &_features{
        margin-top: 30px;
        color: white;
        height: 40px;
        line-height: 40px;
        padding: 0 39px;

        &::before{
            height: 38px;
        }
    }
}
/* title */
.title{
    margin: 0;
    padding-top: 75px;
    text-align: center;
    font: 400 35px/39px LatoBold, "sans-serif";
    color: #ecba0b;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 85px;
        height: 6px;
        background: #ecba0b;
    }

    &__light{
        font-family: Lato;
    }

    &.animation{
        opacity: 0;
    }
}

/* fuatures */
.features{
    font-size: 0;
    margin: 70px -20px 0;
    padding-bottom: 40px;

    &__item{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 0 20px;
        text-align: center;
        padding-bottom: 40px;
        opacity: 0;
        transform: translateY(150%);
        transition: transform 0.7s ease 0s, opacity 1s linear 0s;

        &:nth-child(1){
            transition-delay: 0s;
        }
        &:nth-child(2){
            transition-delay: 0.15s;
        }
        &:nth-child(3){
            transition-delay: 0.3s;
        }
        &:nth-child(4){
            transition-delay: 0.45s;
        }


        &:hover{
            .features__img{
                fill: #fac81b;
                transform: scale(1.3);
            }
            .features__title{
                color: #fac81b;
            }
            .features__cover{
                border-color: #fac81b;

            }
        }
    }

    &__cover{
        width: 166px;
        height: 166px;
        background-color: #dd5e5f;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        border: 2px solid rgba(0,0,0,0);
        transition: 0.25s ease;
    }
    &__img{
        fill: white;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        transition: 0.25s ease;
    }
    &__title{
        font: 22px/37px Lato, 'sans-serif';
        height: 37px;
        color: white;
        transition: 0.25s ease;
    }
    &__descript{
        font: 14px/25px Lato, 'sans-serif';
        color: white;
        height: 75px;
        overflow: hidden;
    }
}

/* Latest Works */
.works{
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 80px auto 0;

    &__item{
        width: 25%;
        max-height: 250px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: top;
        opacity: 0;
        background: #fc6263;
        transition: 0.8s ease;

        &:hover .works__over{
            transform: translate(0,0);
        }

        &:nth-child(2n){
          background: #bc2c2d;
        }
        &:nth-child(3n+2){
          background: #cd4c4c;
        }
        &:nth-child(3n+3){
          background: #8f4343;
        }
    }
    &__img{
        max-width: 100%;
        min-height: 150px;
    }

    &__over{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 40px;
        background: rgba(230, 103, 104, 0.7);
        transform: translate(0, 200%);
        transition: 0.5s ease-in-out;

        &-content{
            margin-top: 40px;
        }
    }
    &__title{
        font: 400 22px/25px Lato, 'sans-serif';
        color: white;
        margin: 0;
    }
    &__descript{
        font: 14px/ 25px Lato, 'sans-serif';
        color: white;
        margin-top: 5px;
    }

    &.inFocus{
        .works__item{
            opacity: 1;

            &:nth-child(1){
                transition-delay: 0s;
            }
            &:nth-child(2){
                transition-delay: 0.15s;
            }
            &:nth-child(3){
                transition-delay: 0.3s;
            }
            &:nth-child(4){
                transition-delay: 0.45s;
            }
            &:nth-child(5){
                transition-delay: 0.6s;
            }
            &:nth-child(6){
                transition-delay: 0.75s;
            }
            &:nth-child(7){
                transition-delay: 0.9s;
            }
            &:nth-child(8){
                transition-delay: 1.05s;
            }
        }
    }
}

.more-info{
    margin-top: 8%;

    &__link{
        display: inline-block;
        vertical-align: top;
        width: 33px;
        height: 30px;
        border: 1px solid #fac81b;
        position: relative;
        transition: 0.25s ease;

        &_zoom{

        }
        &_share{
            margin-left: 15px;
        }

        svg{
            fill: #fac81b;
            display: inline-block;
            vertical-align: top;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 13px;
            height: 13px;
            margin: auto;
            transition: 0.25s ease;
        }

        &:hover{
            background: #fac81b;

            svg{
                fill:rgba(230, 103, 104, 1);
            }
        }
    }

}

.svg-icons-sprite{
    display: none;
}

/* Blog posts */
.posts{
    display: flex;
    margin-top: 80px;
    font-size: 0;


    &__item{
        width: 33.33%;
        padding: 0 10px;
        display: inline-block;
        vertical-align: top;

        &:hover{
            .posts__descript{
                color: #e66768;
            }
            .posts__person{
                border-color: #e66768;
            }
        }
    }
    &__cover{
        max-height: 212px;
        /*background: #8f4343;*/
    }
    &__img{
        max-width: 100%;
        min-height: 212px;
    }
    &__content{
        text-align: center;
        margin-top: -41px;
    }
    &__person{
        &-wrapp{
            display: inline-block;
            vertical-align: top;
            width: 84px;
            height: 84px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }

        border-radius: 50%;
        border: 2px solid rgba(0,0,0,0);
        width: 82px;
        height: 82px;
        /*background: #e66768;*/
        transition: 0.3s ease;

    }
    &__date{
        color: #e66768;
        font-size: 14px;
        display: block;
        margin-top: 25px;
    }
    &__descript{
        font-size: 22px;
        line-height: 25px;
        color: #646464;
        margin: 10px auto;
        padding: 0 20px;
        transition: 0.3s ease;
    }
}
/*contacts*/
.contacts{
    max-width: 560px;
    width: 560px; /* for ie */
    padding: 0 50px 23px;
    background: #e9696a;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s ease;

    &__content{
        margin-top: 25px;
    }

    &__txt{
        color: white;
        line-height: 30px;
        font-size: 13px;
        text-align: center;

        &_big{
            font-size: 17px;
        }
    }
    &__link{
        border-bottom: 1px solid rgba(0,0,0,0);
        transition: 0.25s ease;

        &:hover{
            border-bottom: 1px solid white;
        }
    }
    &__close{
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      z-index: 1;
      overflow: hidden;

      &::before, &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 3px;
        width: 28px;
        background: #ecba0b;
        transition: 0.3s linear 0s;
      }

      &::before{
        transform: rotate(45deg);
      }
      &::after{
        transform: rotate(-45deg);
      }

      &:hover{
        &::before, &::after{
          opacity: 0.8;
        }
      }
    }

    &_turn{

      height: 130px !important;

      .contacts__close{
        animation-name: flash;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        /*&::before, &::after{
          top: -30px;
        }*/
        &::before{
          right: -8px;
          left: auto;
        }
        &::after{
          left: -8px;
          right: auto;
        }

      }
    }
}
@keyframes flash{
  from{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.contact-form{
    margin-top: 20px;

    &__row{
        margin-top: 20px;
        font-size: 0;
        text-align: center;

        &_button{
            margin-top: 35px;
        }
    }
    &__col{
        display: inline-block;
        vertical-align: top;
        width: 50%;

        &:nth-child(1){
            padding-right: 8px;
        }
        &:nth-child(2){
            padding-left: 8px;
        }
    }
    &__area{
        display: inline-block;
        vertical-align: top;
        border: 1px solid rgba(255,255,255,0.6);
        background: none;
        color: white;
        padding: 0 20px;
        width: 100%;
        height: 45px;
        line-height: 45px;
        text-align: left;
        font-size: 13px;

        &::-webkit-input-placeholder {color: white;}
        &::-moz-placeholder          {color: white;}
        &:-moz-placeholder           {color: white;}
        &:-ms-input-placeholder      {color: white;}

        &:focus{
            outline: 1px solid white;
        }

        &_textarea{
            height: 125px;
        }
    }

    &__submit{
        border: none;
        width: 68px;
        height: 38px;
        background: url(../../img/icons/submit.png) no-repeat center;
        transition: 0.25s ease;

        &:hover{
            opacity: 0.8;
        }
    }
}

/* footer */
.footer{
    background: #3d3d3d;

    &-nav{
        padding: 0;
        font-size: 0;
        list-style: none;
        margin: 0 auto;
        text-align: center;

        &__item{
            display: inline-block;
            vertical-align: top;
        }
        &__link{
            display: inline-block;
            vertical-align: top;
            color: #b1b1b1;
            height: 50px;
            line-height: 50px;
            font-size: 13px;
            padding: 0 20px;
            transition: 0.25s ease;

            &:hover{
                color: white;
            }
        }

        &-box{
            border-bottom: 1px solid rgba(201,201,201, 0.2);
        }

    }

    &__copyright{
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #919191;
        font-size: 13px;
    }
}
.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  z-index: 100;
  transform: translate3d(0,-120%,0);
  transition: 0.8s ease 0s, opacity 0s ease 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  overflow-y: scroll;

  &_visible{
    animation-name: bounceInDown;
    animation-duration: 1s;
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0);
  }

  &__content{
    overflow: auto;
  }

  &__close{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    height: 35px;
    z-index: 1;
    overflow: hidden;

    &::before, &::after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 3px;
      width: 33px;
      background: white;
      transition: 0.3s linear 0s;
    }

    &::before{
      transform: rotate(45deg);
    }
    &::after{
      transform: rotate(-45deg);
    }

  }

  &__img{
    max-width: 100%;
  }

}
.filter
{
  filter: url(../../img/filter.svg#blur); /* FF, IE10 & Opera */
  /*-webkit-filter: blur(3px);*/
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}


/*========== Media ==========*/
@media screen and (max-width: 1400px){
    .header{
        top: 0;
        position: fixed;
    }

    .section{
        &_main{
            min-height: 525px;
            padding-top: 140px;
        }
    }
}

@media screen and (max-width: 1200px){
    .container{
        max-width: 1100px;
    }

    .works{
        &__item{
            width: 50%;
        }
    }
}

@media screen and (max-width: 1023px){
    .container{
        max-width: 768px;

        &_blog{
            max-width: 100%;
        }
    }
    .section{
        &_main{
            background: #f6eee9 url(../../img/main/banner_min.jpg) no-repeat right bottom;
        }
    }
    .header{
        position: fixed;
        top: 0;
    }

    .main-nav{
        position: fixed;
        top: 0;
        right: 0;
        /*width: 250px;*/
        width: 40%;
        /*height: 100%;*/
        height: auto;
        background: black;
        padding-left: 10px;
        margin-top: 75px;
        padding-top: 10px;
        padding-bottom: 20px;
        transition: 0.4s ease;
        //transform: translate(100%, 0);
        transform: translate3d(100%, 0, 0);
        z-index: 10;

        &_active{
            //transform: translate(0, 0);
            transform: translate3d(0, 0, 0);
        }

        &__item{
            display: block;
            text-align: left;
            height: 50px;
            line-height: 50px;
            max-width: 250px;
        }
        &__link{
            width: 100%;
            max-width: 300px;
            height: 50px;
            line-height: 50px;
            border-width: 2px;
            padding: 0;
        }
    }

    .features{
        &__item{
            width: 50%;
            margin-bottom: 40px;
        }
    }

    .button{
        &_features{
            margin-top: 15px;
        }
    }
    .burger{
        display: block;
    }

}

@media screen and (max-width: 767px){

    .container{
        max-width: 500px;
    }
    .section{
        &_main{
            background: #f6eee9;

            &.inFocus{
                .about__title, .about__descript, .button{
                    animation: none;
                    opacity: 1;
                }
            }
        }
    }

    .main-nav{
      width: 50%;

      &__item{
        max-width: 210px;
      }
    }

    .about{
        margin: 0 auto;
        text-align: center;
        
        &__descript{
            margin: 33px auto 0;
        }
    }

    .features{
        &__item{
            width: 100%;
            opacity: 1;
            transform: none;
        }
        &__descript{
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
        }

    }
    .works{
        &__item{
            opacity: 1;
        }
        &__over{
            padding-bottom: 60px;
        }
    }
    .posts{
        flex-wrap: wrap;
        
        &__item{
            width: 100%;
            margin-top: 60px;
            opacity: 1;

            &:nth-child(1){
                margin-top: 0;
            }
        }
        &__cover{
            text-align: center;
        }

    }
    .contacts{
      width: 100%;
    }
}


@media screen and (max-width: 600px){
    .section{
        &_map{
            min-height: 300px;
        }
    }
    .container{
        &_contacts{
            width: 100%;
            max-width: inherit;
            padding: 0;
        }
    }
    .about{
        &__title{
            font-size: 27px;
            line-height: 33px;
        }
    }
    .header{
        &__logo-box{
            width: auto;
        }
    }
    .works{
        &__item{
            width: 100%;
        }
    }
    .logo{
        max-width: 170px;

        &__img{
            width: 100%;
        }
    }

    .contacts{
        position: static;
        width: 100%;
        max-width: inherit;
    }

    .footer-nav-box{
        display: none;
    }

    .popup__close{
      top: 20px;
      right: 12px;
    }
}
@media screen and (max-width: 520px){
  .main-nav{
    width: 250px;

    &__item{
      max-width: 210px;
    }
  }
}
@media screen and (max-width: 480px){
    .section{
        &_main{
            min-height: 500px;
            padding-top: 120px;
        }
    }

    .contacts{
        padding: 0 50px 50px;
    }

    .contact-form{
        &__col{
            width: 100%;

            &, &:nth-child(n){
                padding: 0;
            }
            &:nth-child(2){
                margin-top: 20px;
            }
        }
    }
    .title_footer{
      font-size: 33px;
      line-height: 37px;
      padding-top: 60px;
    }
}
@media screen and (max-width: 380px){
  .contacts{
    padding: 0 20px 50px;
  }
  .title_footer{
    font-size: 33px;
    line-height: 37px;
    padding-top: 60px;
  }
}
/* ========== animation ==========*/
@keyframes rubber{
    from {
        transform: scale3d(1,1,1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40%{
        transform: scale3d(0.75, 1.25, 1);
    }
    50%{
        transform: scale3d(1.15, 0.85, 1);
    }
    60%{
        transform: scale3d(0.75, 1.1, 1);
    }
    75%{
        transform: scale3d(1.1, 0.9, 1);
    }

    to{
        transform: scale3d(1,1,1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: none;
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;
    }
}
@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: none;
    }
}
@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(10px, 0, 0);
    }

    90% {
        transform: translate3d(-5px, 0, 0);
    }

    to {
        transform: none;
    }
}
/* ================================= */
/* animation styles */
.animation{
    animation-duration: 1s;
    animation-fill-mode: both;

    &[data-animation-type]{
        opacity:0;

        &.inFocus{
            opacity: 1;
        }
    }
}
@media screen and (max-width: 768px){
    .animation{
        animation: none !important;
        &[data-animation-type] {
            opacity: 1;
        }
    }
}
.rubber{
    animation: rubber;
}
.opacity{
    animation: opacity;
}
.fadeIn {
    animation-name: fadeIn;
}
.bounceInLeft{
    animation-name: bounceInLeft;
}

.bounceIn{
    animation-name: bounceIn;
}
.bounceInLeft{
    animation-name: bounceInLeft;
}
.bounceInRight{
    animation-name: bounceInRight;
}
.bounceInDown{
    animation-name: bounceInDown;
}






