
/* main */
*, *::before, *::after {
    box-sizing: border-box;
}

html {

}

html, body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 14px;
    min-width: 320px;
    height: 100%;
}
a{
    color: white;
    text-decoration: none;
    user-select: none;

  img{
      border: none;
  }
}
button{
    user-select: none;
}
.clear{
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.main{
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.wrapp{
    min-height: 100%;
    padding-top: 1px;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
    /*border: 1px solid black;*/
}
/* header */
.header{
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 0;
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 60px;

    &__logo-box{
        display: inline-block;
        vertical-align: top;
        width: 271px;

    }
    &__main-nav-box{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 271px);
        text-align : right;
        height: 75px;
    }
    

}

.main-nav{
    font-size: 0;
    position: relative;

    &__item{
        display: inline-block;
        vertical-align: top;
        margin: 0 12px;
    }
    &__link{
        display: inline-block;
        vertical-align: top;
        height: 75px;
        font: 400 15px/75px Lato, "sans-serif";
        color: white;
        padding: 0 20px;
        border-bottom: 5px solid rgba(0,0,0,0);
        transition: 0.25s ease;

        &:hover, &_active{
            border-color: #e9696a;
        }
    }

}
/* logo */
.logo{
    display: inline-block;
    vertical-align: top;
    
    &__img{
        display: inline-block;
        vertical-align: middle;
    }
}

/* sections */
.section{

    &_main{
        text-align: center;
        min-height: 695px;
        background: #f6eee9 url(../../img/main/banner.jpg) no-repeat bottom center;
        background-size: contain;
        padding-top: 250px;
    }
    &_features{
        background: #e66768;
        min-height: 450px; /*del*/
    }
    &_works{
        background: #f6f1ed;
        padding-bottom: 80px;
    }
    &_blog{
        padding-bottom: 80px;
    }
    &_map{
        min-height: 700px;
    }
    &_contacts{
        position: relative;
    }

    &__img{
        width: 100%;
    }
}
/* about box */
.about{
    text-align: left;
    max-width: 500px;

    &__title{
        font: 32px/39px LatoLight, 'sans-serif';
        margin: 0;

        &-select{
            color: #f06d6e;
            font-family: LatoBold, 'sans-serif';
        }
    }
    &__descript{
        font: 14px/28px Lato, 'sans-serif';
        color: #3d3d39;
        margin-top: 33px;
        max-width: 355px;
    }
}

/* button */
.button{
    display: inline-block;
    vertical-align: top;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fac81b;
    border-left: 4px solid #fac81b;
    font-size: 14px;
    text-align: center;
    color: #3d3d39;
    padding: 0 30px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 48px;
        background: #fac81b;
        transition: 0.3s ease-in-out;
        z-index: 0;
    }

    &:hover::before{
        width: 100%;
    }

    &__txt{
        position: relative;
    }

    &_main{
        margin-top: 40px;
    }
    &_features{
        margin-top: 30px;
        color: white;
        height: 40px;
        line-height: 40px;
        padding: 0 39px;

        &::before{
            height: 38px;
        }
    }
}
/* title */
.title{
    margin: 0;
    padding-top: 75px;
    text-align: center;
    font: 400 35px/39px LatoBold, "sans-serif";
    color: #ecba0b;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 85px;
        height: 6px;
        background: #ecba0b;
    }

    &__light{
        font-family: Lato;
    }
}

/* fuatures */
.features{
    font-size: 0;
    margin: 70px -20px 0;
    padding-bottom: 40px;

    &__item{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 0 20px;
        text-align: center;
        padding-bottom: 40px;


        &:hover{
            .features__img{
                fill: #fac81b;
                transform: scale(1.3);
            }
            .features__title{
                color: #fac81b;
            }
            .features__cover{
                border-color: #fac81b;

            }
        }
    }

    &__cover{
        width: 166px;
        height: 166px;
        background-color: #dd5e5f;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        border: 2px solid rgba(0,0,0,0);
        transition: 0.25s ease;
    }
    &__img{
        fill: white;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        transition: 0.25s ease;
    }
    &__title{
        font: 22px/37px Lato, 'sans-serif';
        height: 37px;
        color: white;
        transition: 0.25s ease;
    }
    &__descript{
        font: 14px/25px Lato, 'sans-serif';
        color: white;
        height: 75px;
        overflow: hidden;
    }
}

/* Latest Works */
.works{
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 80px auto 0;

    &__item{
        width: 25%;
        max-height: 250px;
        overflow: hidden;
        position: relative;

        &:hover .works__over{
            transform: translate(0,0);
        }
    }
    &__img{
        max-width: 100%;
    }

    &__over{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 40px;
        background: rgba(230, 103, 104, 0.7);
        transform: translate(0, 200%);
        transition: 0.5s ease-in-out;
    }
    &__title{
        font: 400 22px/25px Lato, 'sans-serif';
        color: white;
        margin: 0;
    }
    &__descript{
        font: 14px/ 25px Lato, 'sans-serif';
        color: white;
        margin-top: 5px;
    }
}

.more-info{
    position: absolute;
    bottom: 50px;

    &__link{
        display: inline-block;
        vertical-align: top;
        width: 33px;
        height: 30px;
        border: 1px solid #fac81b;
        position: relative;
        transition: 0.25s ease;


        &_zoom{

        }
        &_share{
            margin-left: 15px;
        }

        svg{
            fill: #fac81b;
            display: inline-block;
            vertical-align: top;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 13px;
            height: 13px;
            margin: auto;
            transition: 0.25s ease;
        }

        &:hover{
            background: #fac81b;

            svg{
                fill:rgba(230, 103, 104, 1);
            }
        }
    }

}

.svg-icons-sprite{
    display: none;
}

/* Blog posts */
.posts{
    display: flex;
    margin-top: 80px;
    font-size: 0;


    &__item{
        width: 33.33%;
        padding: 0 10px;
        display: inline-block;
        vertical-align: top;

        &:hover{
            .posts__descript{
                color: #e66768;
            }
            .posts__person{
                border-color: #e66768;
            }
        }
    }
    &__cover{
        max-height: 212px;
    }
    &__img{
        max-width: 100%;
    }
    &__content{
        text-align: center;
        margin-top: -41px;
    }
    &__person{
        &-wrapp{
            display: inline-block;
            vertical-align: top;
            width: 84px;
            height: 84px;
            border-radius: 50%;
            /*border: 2px solid rgba(0,0,0,0);*/
            overflow: hidden;
            position: relative;
        }

        border-radius: 50%;
        border: 2px solid rgba(0,0,0,0);
        width: 82px;
        height: 82px;
        transition: 0.3s ease;

    }
    &__date{
        color: #e66768;
        font-size: 14px;
        display: block;
        margin-top: 25px;
    }
    &__descript{
        font-size: 22px;
        line-height: 25px;
        color: #646464;
        margin: 10px auto;
        padding: 0 20px;
        transition: 0.3s ease;
    }
}
/*contacts*/
.contacts{
    max-width: 560px;
    padding: 0 50px 23px;
    /*margin: -100% auto;*/
    background: #e9696a;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &__content{
        margin-top: 25px;
    }

    &__txt{
        color: white;
        line-height: 30px;
        font-size: 13px;
        text-align: center;

        &_big{
            font-size: 17px;
        }
    }
    &__link{
        border-bottom: 1px solid rgba(0,0,0,0);
        transition: 0.25s ease;

        &:hover{
            border-bottom: 1px solid white;
        }
    }
}

.contact-form{
    margin-top: 20px;

    &__row{
        margin-top: 20px;
        font-size: 0;
        text-align: center;

        &_button{
            margin-top: 35px;
        }
    }
    &__col{
        display: inline-block;
        vertical-align: top;
        width: 50%;

        &:nth-child(1){
            padding-right: 8px;
        }
        &:nth-child(2){
            padding-left: 8px;
        }
    }
    &__area{
        display: inline-block;
        vertical-align: top;
        border: 1px solid rgba(255,255,255,0.6);
        background: none;
        color: white;
        padding: 0 20px;
        width: 100%;
        height: 45px;
        line-height: 45px;
        text-align: left;
        font-size: 13px;

        &::-webkit-input-placeholder {color: white;}
        &::-moz-placeholder          {color: white;}
        &:-moz-placeholder           {color: white;}
        &:-ms-input-placeholder      {color: white;}

        &:focus{
            outline: 1px solid white;
        }

        &_textarea{
            height: 125px;
        }
    }

    &__submit{
        border: none;
        width: 68px;
        height: 38px;
        background: url(../../img/icons/submit.png) no-repeat center;
        transition: 0.25s ease;

        &:hover{
            opacity: 0.8;
        }
    }
}



