// footer
footer.footer
    div.footer__content.container Содержимое футера

script(src="js/main.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX6kKWl4z60M84nWwwKXk5uzVs43Yjz9I&callback=initMap" async defer)
