// footer
footer.footer
    nav.footer-nav-box
        ul.footer-nav.container
            li.footer-nav__item
                a(href="#main").footer-nav__link Home
            li.footer-nav__item
                a(href="#features").footer-nav__link Features
            li.footer-nav__item
                a(href="#works").footer-nav__link Work
            li.footer-nav__item
                a(href="#blog").footer-nav__link Blog
            li.footer-nav__item
                a(href="#contacts").footer-nav__link Contact
    .container
        div.footer__copyright KreativePixel © 2014 All Rights Reserved.
.popup
    .popup__content(style="color: white; font-size: 80px;") asdasdasd asdasda asdasd
    a(href="#").popup__close

//script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="js/polifills.js")
script(src="js/main.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX6kKWl4z60M84nWwwKXk5uzVs43Yjz9I&callback=Main.Map" async defer)
