// footer
footer.footer
    nav.footer-nav-box
        ul.footer-nav.container
            li.footer-nav__item
                a(href="#").footer-nav__link Home
            li.footer-nav__item
                a(href="#").footer-nav__link Features
            li.footer-nav__item
                a(href="#").footer-nav__link Shop
            li.footer-nav__item
                a(href="#").footer-nav__link Blog
            li.footer-nav__item
                a(href="#").footer-nav__link Work
            li.footer-nav__item
                a(href="#").footer-nav__link Contact
    .container
        div.footer__copyright KreativePixel © 2014 All Rights Reserved.

script(src="js/polifills.js")
script(src="js/main.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX6kKWl4z60M84nWwwKXk5uzVs43Yjz9I&callback=initMap" async defer)
