// Header
include mixins
-var mainList = [{name: "Home", href:"#main"}, {name: "Features", href:"#features"}, {name: "Work", href:"#works"}, { name: "Blog", href:"#blog"}, {name: "Contact", href:"#contacts"}];

header.header.animation
    div.container
        div.header__logo-box
            a(href="#").logo
                img(src="img/main/logo.png" alt="Kreative Pixel").logo__img/
        nav.header__main-nav-box
            ul.main-nav
                each item, index in mainList
                    if pageId && index == pageId-1
                        +mainMenuItem(item.name, item.href)(class="main-nav__link_active")
                    else
                        +mainMenuItem(item.name, item.href)
        .burger
            span.burger__line

